.centrar{
    text-align: center;
}

@media (min-width: 481px) {
    .boton{
        width: 25rem;
        margin: 0 auto;
    }
    .inputs{
        margin: auto;
        width: 35rem;
    }
    
}
@media (min-width: 769px) {
    .boton{
        width: 10rem;
        margin: auto;
    }
    .centrar{
        text-align: center;
        width: 25rem;
    }
    .inputs{
        margin: auto;
        width: 25rem;
    }
}