<mat-toolbar>
	<div class="container header">
		<div>
			<img src="{{ 'logo' | image:'png' }}" alt="logo" routerLink="/home" />

			<nav>
				<button class="nav_item" *ngFor="let nav_item of nav_items" mat-flat-button [routerLink]="[nav_item.path]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ nav_item.name }}</button>
			</nav>
		</div>

		<button mat-flat-button class="login" (click)="openDialogSesion()">Registrarse / Entrar</button>
	</div>

	<div class="mobile-header">
		<button mat-icon-button class="menu" (click)="toggle()">
			<mat-icon>menu</mat-icon>
		</button>

		<img src="{{ 'logo' | image:'png' }}" routerLink="/" alt="logo" />
	</div>
</mat-toolbar>
