mat-toolbar {
	height: 6.5rem;
	justify-content: space-between;
	background-color: var(--primary);
	box-shadow: 0 0.1rem 0.3rem -0.1rem var(--black);
}

.header {
	display: none;
}

.mobile-header {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.menu {
	position: absolute;
	left: 0;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	padding: 0.3rem;
	line-height: normal;
}

.menu mat-icon {
	width: 100%;
	height: auto;
	font-size: 2.5rem;
	/* font-size: 4rem; */
}

img {
	height: 80%;
	cursor: pointer;
}

.profile_button {
	height: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.profile_button > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 0.3rem;
}

.profile_button p {
	margin: 0;
}

.profile_button p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.profile_button p:first-of-type {
	color: var(--black);
}

.profile_button p:last-of-type {
	color: #0000007a;
	font-size: 1.4rem;
}

.profile_button mat-icon {
	height: auto;
	width: auto;
	font-size: 4.5rem;
}

@media (min-width: 481px) {
	/* * Tablets */
	.menu {
		width: 5rem;
		height: 5rem;
		padding: 0.5rem;
	}

	.menu mat-icon {
		font-size: 4rem;
	}
}

@media (min-width: 769px) {
	/* * Small desktop screen */
	.header {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header .nav {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
	}

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60%;
		gap: 1rem;
	}

	.nav_item {
		width: auto;
		padding: 0 1rem;
		font-size: 1.5rem;
		text-align: center;
		font-weight: bold;
		background-color: transparent;
		letter-spacing: 0.2rem;
		border-bottom: none;
		transition: border-bottom 0.1s, color 0.1s;
		-webkit-transition: border-bottom 0.1s, color 0.1s;
		-moz-transition: border-bottom 0.1s, color 0.1s;
		-ms-transition: border-bottom 0.1s, color 0.1s;
		-o-transition: border-bottom 0.1s, color 0.1s;
	}

	.nav_item:hover,
	.active {
		border-bottom: 0.4rem solid var(--fuchsia);
		color: var(--fuchsia);
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}

	.mobile-header {
		display: none;
	}

	.login {
		background-color: transparent;
		border: 0.3rem solid var(--fuchsia);
		color: var(--fuchsia);
		font-size: 1.5rem;
		font-weight: bold;
	}

	.login:hover {
		border: 0.3rem solid var(--fuchsia);
		background-color: var(--fuchsia);
		color: var(--white);
		border-radius: 0.4rem;
		-webkit-border-radius: 0.4rem;
		-moz-border-radius: 0.4rem;
		-ms-border-radius: 0.4rem;
		-o-border-radius: 0.4rem;
	}
}

@media (min-width: 993px) {
	.profile_button mat-icon {
		font-size: 5.5rem;
	}
}

@media (min-width: 1201px) {
	.nav_item,
	.login {
		font-size: 1.6rem;
	}
}
