app-title {
	display: block;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #4e29a9;
	position: relative;
	margin: 0;
	z-index: 10;
}

form {
	margin-bottom: 1rem;
}

mat-form-field {
	margin-bottom: 1rem;
	width: 100%;
}

.login {
	display: block;
}

.close_button {
	display: block;
	margin: 0 auto;
	background-color: var(--fuchsia);
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
