.example-card {    
    max-width: 315px;
    min-width: 200px;
    width: 310px;
    padding: 10px;
    margin: 0.5rem; /* borrar */
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    max-width: 50px;
    max-height: 50px;
}

@media (min-width: 435px) {
    .example-header-image{
        max-width: 50px;
        max-height: 50px;
    }
}

.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.total{
    font-size: 2.5rem;
    font-weight: bold;
}

.vertical{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 1rem;
    justify-items: center;
}

.resultado{
    font-size: 5rem;
    font-weight: bold;
    margin: 0rem;
}


.stiky{
    position: sticky;
    bottom: 1rem;
    background-color: var(--color-on);
    border-radius: 5rem;
    height: auto;
    padding: 2.5rem;
    max-width: 315px;
}

.columna{
    flex-wrap: wrap;  
}

.fondo{
    background-image: url('https://previews.123rf.com/images/amalga/amalga1502/amalga150200046/36801892-modelo-incons%C3%BAtil-con-los-accesorios-para-perros-vector-de-dibujos-animados-de-fondo-.jpg?fj=1');
    background-size: cover;
}
