mat-card {
	margin-bottom: 2rem;
	display: grid;
	grid-template-rows: 0.2fr 1fr;
}

.img {
	height: 25rem;
}

mat-card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (min-width: 481px) {
	/* * Tablets */
	mat-card {
		margin-bottom: 0;
	}
}
@media (min-width: 993px) {
	/* * Desktop screen */
	.mat-card-title {
		font-size: 2.3rem;
	}
}

.primary {
	background-color: var(--color-on);
	color: var(--white);
}

.secondary {
	border: 0.1rem solid var(--color-on);
	color: var(--color-on);
	background-color: transparent;
	margin-right: 1rem;
}
