<mat-card class="card">
	<mat-card-header>
		<div mat-card-avatar *ngIf="card.avatar">
			<img src="{{ card.avatar.name | image:card.avatar.ext }}" alt="">
		</div>
		<mat-card-title class="text">{{ card.title }}</mat-card-title>
		<mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>
		<button mat-icon-button>
			<mat-icon>{{ card.icon }}</mat-icon>
		</button>
	</mat-card-header>

	<div mat-card-image class="img">
		<img src="{{ card.img.name | image:card.img.ext }}" [alt]="card.title" />
	</div>

	<mat-card-content class="text">
		<p>{{ card.text }}</p>
	</mat-card-content>

	<mat-card-actions *ngIf="card.buttons" align="end">
		<button *ngFor="let text of card.buttons; let i = index" [class]="i === 0 ? 'secondary' : 'primary'" mat-flat-button>{{ text }}</button>
	</mat-card-actions>
</mat-card>
