img {
	width: 10vh;
	height: auto;
	min-width: 10rem;
	margin: 0 auto;
	display: block;
	cursor: pointer;
}

mat-divider {
	width: 90%;
	margin: 0.5rem auto;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}

nav div {
	width: 100%;
}

.nav_item {
	display: block;
	padding: 0 1rem;
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	background-color: transparent;
	transition: background-color 0.1s, color 0.1s;
	-webkit-transition: background-color 0.1s, color 0.1s;
	-moz-transition: background-color 0.1s, color 0.1s;
	-ms-transition: background-color 0.1s, color 0.1s;
	-o-transition: background-color 0.1s, color 0.1s;
}

.nav_item:hover,
.active {
	background-color: var(--secondary);
	border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	-ms-border-radius: 0.3rem;
	-o-border-radius: 0.3rem;
	color: var(--fuchsia);
}

.login {
	width: 100%;
	background-color: transparent;
	border: 0.2rem solid var(--fuchsia);
	color: var(--fuchsia);
}

.profile_button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
}

.profile_button mat-icon {
	width: auto;
	height: auto;
	font-size: 8rem;
}

.profile_button p {
	font-size: 2rem;
	font-weight: bold;
	color: var(--black);
}
