<img *ngIf="!user" src="{{ 'logo' | image: 'png' }}" routerLink="/" alt="logo" />

<div class="profile_button" *ngIf="user">
	<mat-icon>account_circle</mat-icon>

	<p class="text">{{ user.name + " " + user.last_name }}</p>
</div>

<mat-divider></mat-divider>

<nav>
	<div>
		<div *ngFor="let nav_item of nav_items">
			<button class="nav_item" mat-flat-button [routerLink]="[nav_item.path]" routerLinkActive="router-link-active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="toggle()">{{ nav_item.name }}</button>
			<mat-divider></mat-divider>
		</div>
	</div>

	<div>
		<button *ngIf="!user" mat-flat-button class="login" (click)="dialog()"><mat-icon>login</mat-icon> Registrarse / Entrar</button>

		<button *ngIf="user" mat-flat-button class="login" (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</button>
	</div>
</nav>
