<app-grid-card [data_cards]="data_cards | slice: 0:2"></app-grid-card>

<app-accordion class="acordion" [data_cards]="data_cards | slice:2"></app-accordion>
<div class="contenido">
        <img src="{{'img_nosotros3'|image}}" alt="medico">
    <div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="objetivos">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada et nunc sed bibendum. Mauris dolor dui, pellentesque eu dictum non, molestie in eros. Mauris ut blandit ex. Duis luctus iaculis tellus in viverra. Phasellus ac tincidunt nisl, sit amet luctus sapien. In hac habitasse
            </mat-tab>
            <mat-tab label="Profecion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada et nunc sed bibendum. Mauris dolor dui, pellentesque eu dictum non, molestie in eros. Mauris ut blandit ex. Duis luctus iaculis tellus in viverra. Phasellus ac tincidunt nisl, sit amet luctus sapien. In hac habitasse
            </mat-tab>
            <mat-tab label="Horario">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada et nunc sed bibendum. Mauris dolor dui, pellentesque eu dictum non, molestie in eros. Mauris ut blandit ex. Duis luctus iaculis tellus in viverra. Phasellus ac tincidunt nisl, sit amet luctus sapien. In hac habitasse
            </mat-tab>
        </mat-tab-group>
    </div>
</div>