.card {
	height: 40rem;
	margin-bottom: 2rem;
	display: grid;
	grid-template-rows: 0.2fr 1fr 0.5fr;
}

.card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media (min-width: 481px) {
	/* * Tablets */
	.card {
		margin-bottom: 0;
	}
}

@media (min-width: 769px) {
	/* * Small desktop screen */
	.card {
		height: 45rem;
	}
}
