.header_user > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	margin: 0;
}

mat-icon {
	font-size: 9rem;
	width: auto;
	height: auto;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

nav a {
	text-decoration: none;
	flex-basis: calc(100% / 3);
	padding: 0.5rem;
	color: var(--black);
	border-bottom: 0.3rem solid var(--background);
}

nav a:hover,
.link_active {
	background-color: var(--background);
}

.content_user {
	padding-top: 2rem;
}

@media (min-width: 769px) {
	.user-index {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
	}

	.header_user {
		flex-basis: 30%;
		padding-right: 1.5rem;
	}

	.content_user {
		flex-basis: 70%;
		padding-left: 1.5rem;
	}

	.header_user {
		position: sticky;
		border-right: 0.1rem solid var(--primary);
	}

	.header_user > div {
		flex-direction: column;
		text-align: center;
		margin-bottom: 2rem;
	}

	nav {
		flex-direction: column;
		gap: 0.3rem;
	}

	nav a {
		text-align: left;
		padding: 1.5rem 1.5rem 1.5rem 1.5rem;
		border-left: 0.3rem solid var(--background);
		border-bottom: none;
		width: 100%;
	}

	nav a:hover,
	.active {
		background-color: var(--background);
	}
}

@media (min-width: 1201px) {
	.header_user {
		flex-basis: 25%;
	}

	.content_user {
		flex-basis: 75%;
	}
}
