<div class="form">
	<div class="edit_button">
		<app-title class="align" text="Información personal"></app-title>

		<app-button text="Editar" type="fuchsia" [disabled]="!my_form.disabled" (onClick)="editEnable()"></app-button>
	</div>

	<form (ngSubmit)="edit()" autocomplete="off" [formGroup]="my_form">
		<fieldset>
			<input type="hidden" formControlName="id" />

			<legend>Personal</legend>

			<mat-form-field class="text" appearance="outline">
				<mat-label>Cédula</mat-label>

				<input matInput type="text" formControlName="dni" />

				<mat-error *ngIf="my_form.get('dni')?.hasError('required')">Campo obligatorio</mat-error>
				<mat-error *ngIf="my_form.get('dni')?.hasError('minlength') || my_form.get('dni')?.hasError('maxlength')">Debe tener 10 dígitos</mat-error>
			</mat-form-field>

			<mat-form-field class="text" appearance="outline">
				<mat-label>Nombre</mat-label>

				<input matInput type="text" formControlName="name" />

				<mat-error *ngIf="my_form.get('name')?.hasError('required')">Campo obligatorio</mat-error>
				<mat-error *ngIf="my_form.get('name')?.hasError('minlength')">Al menos 3 caracteres</mat-error>
			</mat-form-field>

			<mat-form-field class="text" appearance="outline">
				<mat-label>Apellido</mat-label>

				<input matInput type="text" formControlName="last_name" />

				<mat-error *ngIf="my_form.get('last_name')?.hasError('required')">Campo obligatorio</mat-error>
				<mat-error *ngIf="my_form.get('last_name')?.hasError('minlength')">Al menos 3 caracteres</mat-error>
			</mat-form-field>
		</fieldset>

		<fieldset>
			<legend>Contacto</legend>

			<div class="mat_flex_1">
				<mat-form-field class="text" appearance="outline">
					<mat-label>Fecha de nacimiento</mat-label>

					<input matInput [matDatepicker]="date_picker" formControlName="date_birth" [max]="max_date" [min]="min_date" />

					<mat-hint>MM/DD/YYYY</mat-hint>

					<mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>

					<mat-datepicker #date_picker></mat-datepicker>

					<mat-error *ngIf="my_form.get('date_birth')?.hasError('required')">Campo obligatorio</mat-error>
				</mat-form-field>

				<mat-form-field class="text" appearance="outline">
					<mat-label>Teléfono</mat-label>

					<input matInput type="tel" formControlName="phone" />

					<mat-error *ngIf="my_form.get('name')?.hasError('required')">Campo obligatorio</mat-error>
					<mat-error *ngIf="my_form.get('dni')?.hasError('minlength') || my_form.get('dni')?.hasError('maxlength')">Debe tener 10 dígitos</mat-error>
				</mat-form-field>
			</div>

			<mat-form-field class="text" appearance="outline">
				<mat-label>Dirección</mat-label>

				<textarea cdkTextareaAutosize="false" matInput type="password" formControlName="address" rows="5"></textarea>

				<mat-error *ngIf="my_form.get('address')?.hasError('required')">Campo obligatorio</mat-error>
				<mat-error *ngIf="my_form.get('address')?.hasError('minlength')">Al menos 15 caracteres</mat-error>
			</mat-form-field>
		</fieldset>

		<fieldset>
			<legend>Cuenta</legend>

			<div class="mat_flex_2">
				<mat-form-field class="text" appearance="outline">
					<mat-label>Email</mat-label>

					<input matInput type="email" formControlName="email" />

					<mat-error *ngIf="my_form.get('email')?.hasError('required')">Campo obligatorio</mat-error>
					<mat-error *ngIf="my_form.get('email')?.hasError('email')">Email no válido</mat-error>
				</mat-form-field>

				<mat-form-field class="text" appearance="outline">
					<mat-label>Contraseña</mat-label>

					<input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />

					<button type="button" mat-icon-button matSuffix [disabled]="my_form.disabled" (click)="hide = !hide">
						<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
					</button>

					<mat-error *ngIf="my_form.get('password')?.hasError('required')">Campo obligatorio</mat-error>
					<mat-error *ngIf="my_form.get('password')?.hasError('minlength') || my_form.get('password')?.hasError('maxlength')">De 8 a 16 caracteres</mat-error>
				</mat-form-field>
			</div>
		</fieldset>

		<div class="buttons" *ngIf="!my_form.disabled">
			<app-button class="cancel" text="Cancelar" type="secondary" (onClick)="cancel()"></app-button>

			<app-button [submit]="true" class="save" text="Actualizar" type="primary" [disabled]="my_form.invalid && my_form.pristine"></app-button>
		</div>
	</form>
</div>
