<mat-sidenav-container>
	<mat-sidenav-content>
		<app-header [user]="user" [nav_items]="nav_items" (onToggle)="sidenav.toggle()" (openDialog)="openDialog($event)" (onLogout)="logout($event)"></app-header>

		<router-outlet></router-outlet>

		<app-footer></app-footer>
	</mat-sidenav-content>

	<mat-sidenav #sidenav>
		<app-mobile-header [user]="user" [nav_items]="nav_items" (onToggle)="sidenav.toggle()" (openDialog)="openDialog($event)" (onLogout)="logout($event)"></app-mobile-header>
	</mat-sidenav>
</mat-sidenav-container>
