<mat-drawer-container>
	<mat-drawer-content>
		<app-header [drawer]="drawer" [nav_items]="nav_items"></app-header>

		<router-outlet></router-outlet>

		<app-footer></app-footer>
	</mat-drawer-content>

	<mat-drawer #drawer>
		<img src="./assets/img/logo.png" routerLink="/" alt="logo" />

		<mat-divider></mat-divider>

		<nav>
			<div>
				<button *ngFor="let nav_item of nav_items" mat-flat-button [routerLink]="[nav_item.path]" routerLinkActive="router-link-active" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="drawer.toggle()">{{ nav_item.name }}</button>
			</div>

			<div>
				<mat-divider></mat-divider>

				<button mat-flat-button class="login"><mat-icon>login</mat-icon> Registrarse / Entrar</button>
			</div>
		</nav>
	</mat-drawer>
</mat-drawer-container>
