.text-button {
	padding: 3rem;
	background-color: var(--background);
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}

h2 {
	font-size: 3.5rem;
	font-weight: bold;
	line-height: normal;
}

@media (min-width: 769px) {
	.text-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	p {
		margin: 0;
		flex-basis: 75%;
	}
}
