.container {
	margin-bottom: 4rem;
}

h2 {
	font-size: 3rem;
	line-height: normal;
	text-align: center;
}

@media (min-width: 481px) {
	/* * Small desktop screen */
	.cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
}

@media (min-width: 1025px) {
	/* * Large desktop screen */
	.cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1201px) {
	/* * Extra large screen, TV */
	.cards {
		gap: 3rem;
	}
}
