<h2 class="text">Registro</h2>

<form (ngSubmit)="logup()" autocomplete="off" [formGroup]="my_form">
	<div class="form" *ngIf="section_form === 1">
		<mat-form-field class="text" appearance="fill">
			<mat-label>Cédula</mat-label>

			<input matInput type="text" formControlName="dni" />

			<mat-error *ngIf="my_form.get('dni')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('dni')?.hasError('minlength') || my_form.get('dni')?.hasError('maxlength')">Debe tener 10 dígitos</mat-error>
		</mat-form-field>

		<mat-form-field class="text" appearance="fill">
			<mat-label>Nombre</mat-label>

			<input matInput type="text" formControlName="name" />

			<mat-error *ngIf="my_form.get('name')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('name')?.hasError('minlength')">Al menos 3 caracteres</mat-error>
		</mat-form-field>

		<mat-form-field class="text" appearance="fill">
			<mat-label>Apellido</mat-label>

			<input matInput type="text" formControlName="last_name" />

			<mat-error *ngIf="my_form.get('last_name')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('last_name')?.hasError('minlength')">Al menos 3 caracteres</mat-error>
		</mat-form-field>
	</div>

	<div class="form" *ngIf="section_form === 2">
		<mat-form-field class="text" appearance="fill">
			<mat-label>Fecha de nacimiento</mat-label>

			<input matInput [matDatepicker]="date_picker" formControlName="date_birth" [max]="max_date" [min]="min_date" />

			<mat-hint>MM/DD/YYYY</mat-hint>

			<mat-datepicker-toggle matSuffix [for]="date_picker"></mat-datepicker-toggle>

			<mat-datepicker #date_picker></mat-datepicker>

			<mat-error *ngIf="my_form.get('date_birth')?.hasError('required')">Campo obligatorio</mat-error>
		</mat-form-field>

		<mat-form-field class="text" appearance="fill">
			<mat-label>Teléfono</mat-label>

			<input matInput type="tel" formControlName="phone" />

			<mat-error *ngIf="my_form.get('name')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('dni')?.hasError('minlength') || my_form.get('dni')?.hasError('maxlength')">Debe tener 10 dígitos</mat-error>
		</mat-form-field>

		<mat-form-field class="text" appearance="fill">
			<mat-label>Dirección</mat-label>

			<textarea cdkTextareaAutosize="false" matInput type="password" formControlName="address"></textarea>

			<mat-error *ngIf="my_form.get('address')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('address')?.hasError('minlength')">Al menos 15 caracteres</mat-error>
		</mat-form-field>
	</div>

	<div class="form" *ngIf="section_form === 3">
		<mat-form-field class="text" appearance="fill">
			<mat-label>Email</mat-label>

			<input matInput type="email" formControlName="email" />

			<mat-error *ngIf="my_form.get('email')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('email')?.hasError('email')">Email no válido</mat-error>
		</mat-form-field>

		<mat-form-field class="text" appearance="fill">
			<mat-label>Contraseña</mat-label>

			<input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />

			<button type="button" mat-icon-button matSuffix (click)="hide = !hide">
				<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
			</button>

			<mat-error *ngIf="my_form.get('password')?.hasError('required')">Campo obligatorio</mat-error>
			<mat-error *ngIf="my_form.get('password')?.hasError('minlength') || my_form.get('password')?.hasError('maxlength')">De 8 a 16 caracteres</mat-error>
		</mat-form-field>

		<mat-form-field class="text" appearance="fill">
			<mat-label>Confirmar contraseña</mat-label>

			<input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm_password" />

			<button type="button" mat-icon-button matSuffix (click)="hide = !hide">
				<mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
			</button>

			<mat-error *ngIf="my_form.get('confirm_password')?.hasError('required')">Campo obligatorio</mat-error>
		</mat-form-field>
	</div>

	<app-button [submit]="true" class="logup" text="Registrarse" type="primary"></app-button>
</form>

<div class="buttons">
	<button class="button primary" type="button" [disabled]="section_form === 1 ? true : false" mat-mini-fab (click)="back()"><mat-icon>chevron_left</mat-icon></button>

	<button class="close_button" mat-mini-fab (click)="back()"><mat-icon>close</mat-icon></button>

	<button class="button primary" type="button" [disabled]="section_form === 3 ? true : false" mat-mini-fab (click)="next()"><mat-icon>chevron_right</mat-icon></button>
</div>
