.background {
	background-color: #eeecff;
}

.text-button {
	padding: 3rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

app-title {
	text-align: center;
}

app-title > h2 {
	margin-bottom: 0;
}

@media (min-width: 769px) {
	.text-button {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.text-button div {
		margin: 0;
		flex-basis: calc(65% - 2rem);
	}

	.text-button app-title {
		flex-basis: calc(25% - 2rem);
	}
}
