.inputP:hover, .button:hover{
    background-color: gray;
}

.inputP, .button{
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--white);
}

.inputP{
    text-align: center;
    max-width: 3rem;   
    font-weight: bold;
}

.container-contador{
    
    padding: 0.5rem;
    border-radius: 1rem;
    display:inline-flex;
    background-color: var(--black)
}

.button{
    height: 2rem;
    width: 3rem;  
}

