@import "~@csstools/normalize.css";

:root {
	--primary: #d1c5e3;
	--secondary: #efd9e1;
	--background: #ccc8f74a;
	--color-on: #bba2fa;
	--color-off: #ccc8f7;
	--fuchsia: #ce2665;
	--black: #222222;
	--white: #f8f9fa;
}

html,
body {
	height: auto;
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	background-color: #fafafa;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	width: auto;
	height: auto;
}

div {
	white-space: break-spaces;
}

.text {
	line-height: normal;
	margin: 0;
	font-size: 1.5rem;
}

@media (min-width: 481px) {
	/* * Tablets */
	.text {
		font-size: 1.6rem;
	}
}

@media (min-width: 769px) {
	/* * Small desktop screen */
	.text {
		font-size: 1.7rem;
	}
}

@media (min-width: 993px) {
	/* * Desktop screen */
	.text {
		font-size: 1.8rem;
	}
}

@media (min-width: 1201px) {
	/* * Extra large screen, TV */
	.text {
		font-size: 1.9rem;
	}
}

.container {
	width: 98%;
	margin: 0 auto;
	max-width: 150rem;
}

@media (min-width: 321px) {
	.container {
		width: 95%;
	}
}

@media (min-width: 481px) {
	.container {
		width: 93%;
	}
}

@media (min-width: 769px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 993px) {
	/* * Desktop screen */
	.container {
		width: 88%;
	}
}

@media (min-width: 1201px) {
	.container {
		width: 85%;
	}
}

.primary {
	background-color: var(--color-on);
	color: var(--white);
	border: 0.1rem solid var(--color-on);
}

.secondary {
	border: 0.1rem solid var(--color-on);
	color: var(--color-on);
	background-color: transparent;
}

.warning {
	background-color: #f85149;
	color: var(--white);
	border: 0.1rem solid #f85149;
}

/* .disable {
	border: 0.1rem solid var(--color-on);
	color: var(--color-on);
	background-color: transparent;
	opacity: 0.5;
} */

.hidden {
	border: 0.1rem solid var(--color-on);
	color: var(--color-on);
	background-color: transparent;
	opacity: 0;
}

.mat-dialog .mat-dialog-container {
	width: 95%;
	margin: 0 auto;
}

.swal2-popup {
	font-size: 125% !important;
}
