<header class="flex-fila centrar-texto header" >
    <h1>Bienvenidos a la Clínica Veterinaria</h1>
    <p>Ofrecemos los mejores servicios para tu mascota, contáctenos hoy y reserve una cita</p>
</header>
<!-- Sección - Calidad y Experiencia -->

<div class="contenedor flex-fila">
        <div>
            <h2>Calidad y Experiencia</h2>
            <p>Somos una clínica veterinaria que se dedica a la prestación de un servicio integral en los ámbitos de los cuidados clínicos veterinarios y asesoramiento.</p>
        </div>
        <app-button text="Servicios" link="/services"></app-button>
</div>
