@media (max-width: 768px) {
	.dialog {
		max-width: 35rem;
	}
}

.content {
	box-shadow: 0 0 1rem -0.5rem #000000bf;
	background-color: #ccc8f74a;
	padding: 0.5rem;
	margin-top: 1rem;
}

.forms {
	position: relative;
	margin-bottom: 1rem;
	padding: 1rem;
}

.div1,
.div2 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.div1 {
	background-color: var(--primary);
	border-radius: 100%3rem 0.5rem;
	-webkit-border-radius: 100%3rem 0.5rem;
	-moz-border-radius: 100%3rem 0.5rem;
	-ms-border-radius: 100%3rem 0.5rem;
	-o-border-radius: 100%3rem 0.5rem;
}

.div2 {
	background-color: var(--secondary);
	border-radius: 0.5rem 100%3rem;
	-webkit-border-radius: 0.5rem 100%3rem;
	-moz-border-radius: 0.5rem 100%3rem;
	-ms-border-radius: 0.5rem 100%3rem;
	-o-border-radius: 0.5rem 100%3rem;
}

.toggle {
	text-align: center;
	margin: 0;
}

.toggle > span {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

@media (min-width: 769px) {
	.dialog {
		max-width: 70rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	app-logo {
		flex-basis: calc(50% - 1rem);
	}

	.content {
		box-shadow: 0 0 1rem -0.5rem #000000bf;
		background-color: #ccc8f74a;
		padding: 1rem;
		flex-basis: calc(50% - 1rem);
		border-radius: 1rem;
		-webkit-border-radius: 1rem;
		-moz-border-radius: 1rem;
		-ms-border-radius: 1rem;
		-o-border-radius: 1rem;
	}
}
