<main class="container">
	<app-title text="Nuestros servicios"></app-title>

	<div class="services">
		<div class="div">
			<h3>Ofrecemos servicios de alta calidad</h3>
			<p class="text">Somos un equipo de Médicos Veterinarios y personal capacitado para la atención integral de las mascotas, con el fin de restablecer, mejorar y resguardar la salud, así como prevenir y evitar las enfermedades que puedan adquirir.</p>

			<h3>Medicina preventiva para perros y gatos.</h3>
			<p class="text">Chequea tus animalitos a tiempo para prevenir o detectar cualquier anomalía que se presente, recuerda que es tu responsabilidad mantener su bienestar.</p>
		</div>

		<div class="img">
			<img src="{{ 'img11' | image }}" alt="gato" />
		</div>
	</div>

	<app-grid-card [data_cards]="data_cards | slice: 0:3"></app-grid-card>
</main>

<div class="container">
	<app-accordion [data_cards]="data_cards | slice:3"></app-accordion>
	
	<app-tabs [data_cards]="data_cards | slice:3"></app-tabs>
</div>
