app-accordion {
	display: block;
}

app-tabs {
	display: none;
}

img {
	width: 100%;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
}

main {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

app-title {
	text-align: center;
}

@media (min-width: 769px) {
	/* * Small desktop screen */
	.services {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.services > .div {
		flex-basis: calc(55% - 1rem);
	}

	.services > .img {
		flex-basis: calc(45% - 1rem);
	}

	app-accordion {
		display: none;
	}

	app-tabs {
		display: block;
	}
}
