<div class="contenido">
    <div class="texto">
        <h2>Alimentación</h2>
        <p>Hablar de nutrición es hablar de salud. Con frecuencia diagnosticamos en nuestra consulta enfermedades relacionadas con una alimentación inadecuada. Es fundamental cubrir todas las necesidades nutricionales para un correcto estado de salud.</p>
        <h2>Tienda</h2>
        <p>Hemos hablado de la alimentación para una buena salud. Vamos a hablar del juego para mantener una buena salud y para mejorar el vínculo que se crea entre los animales y las personas. También nos queda por hablar del comportamiento que equilibra a la mascota a través de un adiestramiento en positivo. Estos tres elementos son fundamentales para la buena salud tanto física como psíquica de la mascota, evitando el sobrepeso con todas las patologías asociadas al mismo, la ansiedad, el estrés y el aburrimiento.</p>
    </div>
    <div class="tamaño_img">
        <img src="{{'img_tienda'|image}}" alt="tienda">
    </div>
    <h2 class="titulo">Instalaciones clinica</h2>

    <div class="galeria">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div class="tm">
                    <samp>Recepcion</samp>
                    <img src="{{'img_plano1'|image}}" alt="Plano_Recepcion">
                </div>
            </mat-grid-tile>
                    
            <mat-grid-tile>
                <div class="tm">
                    <samp>Consultorio</samp>
                    <img src="{{'img_plano2'|image}}" alt="Plano_Consulta1">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="tm">
                    <samp>Consultorio</samp>
                    <img src="{{'img_plano3'|image}}" alt="Plano_Consulta2">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="tm">
                    <samp>Rayos x</samp>
                    <img src="{{'img_plano4'|image}}" alt="Plano_sala_ratosX">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="tm">
                    <samp>Quirofano</samp>
                    <img src="{{'img_plano5'|image}}" alt="Plano_Quirofano">
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="tab">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Recepcion" >
                <div class="mat_img">
                    <img src="{{'img_plano1'|image}}" alt="Plano_Recepcion">
                    <img src="{{'img_recepcion'|image}}" alt="Recepcion">
                </div>
            </mat-tab>
            <mat-tab label="Consulta 1" >
                <div class="mat_img">
                    <img src="{{'img_plano2'|image}}" alt="Plano_Consulta1">
                    <img src="{{'img_consulta2'|image}}" alt="consulta1">
                </div>
            </mat-tab>
            <mat-tab label="Consulta 2" >
                <div class="mat_img">
                    <img src="{{'img_plano3'|image}}" alt="Plano_Consulta2">
                    <img src="{{'img_consulta3'|image}}" alt="consulta2">
                </div>
            </mat-tab>
            <mat-tab label="Sala rayos X" >
                <div class="mat_img">
                    <img src="{{'img_plano4'|image}}" alt="Plano_sala_ratosX">
                    <img src="{{'img_rayosx'|image}}" alt="sala_rayosx">
                </div>
            </mat-tab>
            <mat-tab label="Quirofano" >
                <div class="mat_img">
                    <img src="{{'img_plano5'|image}}" alt="Plano_Quirofano">
                    <img src="{{'img_quirofano'|image}}" alt="quirofano">
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
