.body{
    gap: 5rem;
}
.logo{
    display: none;
}
.boton{
    margin-top: 4rem;
}

@media (min-width: 481px) {
    
    .logo{
        display: block;
        width: auto;
        text-align: center;
    }
    .logo>img{
        width: 30%;
        
        
    }
    .boton{
        width: 25rem;
        margin: auto;
        margin-top: 1rem;
    }
}
@media (min-width: 769px) {
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 20rem;
        height: 20rem;
    }
    .logo>img{
        width: 100%;
    }
    .boton{
        width: 24rem;
        margin: auto;
        margin-top: 4rem;
    }
	
}